:root {
    --prime: #00E5FF;
    --second: #021111;
    --secondLight: #042121;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: var(--prime);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-size: 10px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.wrapper {
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    background-color: var(--second);
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}


.controls {
    width: 100%;
    display: flex;
    padding: 2rem;
    flex-direction: row;
}

form {
    width: 100%;
    max-width: 25rem;
    height: 100%;
    display: flex;
    flex-direction: column;
}

button {
    color: var(--second);
    border: none;
    border-radius: 1rem;
    width: 25rem;
    padding: 1rem;
    font-size: 2rem;
    cursor: pointer;
    background-color: var(--prime);
}

.lenght-value {
    color: white;
    font-size: 1.6rem;
    margin: 1rem 0 3rem 0;
}

#lenght-value {
    color: var(--prime);
}

input[type="range"] {
    margin: 2rem 0 0 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: var(--secondLight);
    height: 1rem;
}

input[type="range"]::-moz-range-track {
    background: var(--secondLight);
    height: 1rem;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 2rem;
    width: 2rem;
    background: var(--prime);
    margin-top: -0.5rem;
    border-radius: 50%;
    cursor: grab;
}

input[type="range"]::-moz-range-thumb {
    height: 2rem;
    width: 2rem;
    background: var(--prime);
    cursor: grab;
    margin-top: -0.5rem;
    border-radius: 50%;
}

.toggle {
    margin: 0 0 2rem 0;
    padding: 0 0 0 6rem;
    position: relative;
    display: inline-block;
    width: 100%;
    color: white;
    font-size: 1.6rem;
    cursor: pointer;
}

input[type="checkbox"] {
    display: none;
}

input:checked + .roundButton {
    background-color: var(--prime);
}

input:checked + .roundButton::before {
    transform: translate(1.7rem, 0);
}

.roundButton {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 4rem;
    height: 2.2rem;
    background-color: var(--secondLight);
    display: block;
    transition: all 0.3s;
    border-radius: 3.4rem;
    cursor: pointer;
}

.roundButton::before {
    position: absolute;
    height: 1.4rem;
    width: 1.4rem;
    background-color: white;
    border-radius: 100%;
    content: "";
    left: 0.5rem;
    bottom: 0.4rem;
    transition: all 0.3s;
}

.inner-content {
    padding: 1rem;
    flex-grow: 1;
    box-sizing: border-box;
}